
/*import main font*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    /*set up colors here*/
    --blackColor: #000000;
    --darkGray: #6d5e68;
    --darkMedGray: #938285;
    --medGray: #b2a5a4;
    --lightMedGray: #ddd6d3;
    --whiteColor: #f8f5f5;
    
    --darkGreen: #524f7a;
    --darkMedGreen: #57757c;
    --medGreen: #6ea080;
    --lightMedGreen: #97c187;
    --lightGreen: #d1e0a9;
    --lightLightGreen: #f3f9cf;

    --darkRed: #773e5b;
    --darkMedRed: #a83d3d;
    --medRed: #d35454;
    --lightMedRed: #e28383;
    --lightRed: #f4b6ab;

    /*scales*/
    --fs14: 1.4rem;
    --fs16: 1.6rem;
    --fs20: 2rem;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

u1 {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    line-height: 1;
    font-weight: 400;
}

h3, h4 {
    font-weight: 600;
}

h4, p, span{
    font-size: var(--fs14);
}

p {
    color: var(--blackColor);
    line-height: 2.4rem;
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media(min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media(min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media(min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media(min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/*not sure what this is yet*/
.btn {
    text-transform: capitalize;
    color: var(--whiteColor);
    font-size: var(--fs16);
    padding: 1.2rem 2.7rem;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
}
/**/
/*colors into .c and .bg forms*/
/**/
.c-blackColor {
    color: var(--blackColor);
}
.c-darkGray {
    color: var(--darkGray);
}
.c-darkMedGray {
    color: var(--darkMedGray);
}
.c-medGray {
    color: var(--medGray);
}
.c-lightMedGray {
    color: var(--lightMedGray);
}
.c-whiteColor {
    color: var(--whiteColor);
}
.c-darkGreen {
    color: var(--darkGreen);
}
.c-darkMedGreen {
    color: var(--darkMedGreen);
}
.c-medGreen {
    color: var(--medGreen);
}
.c-lightMedGreen {
    color: var(--lightMedGreen);
}
.c-lightGreen {
    color: var(--lightGreen);
}
.c-lightLightGreen {
    color: var(--lightLightGreen);
}
.c-darkRed {
    color: var(--darkRed);
}
.c-darkMedRed {
    color: var(--darkMedRed);
}
.c-medRed {
    color: var(--medRed);
}
.c-lightMedRed {
    color: var(--lightMedRed);
}
.c-lightRed {
    color: var(--lightRed);
}
.bg-blackColor {
    background-color: var(--blackColor);
}
.bg-darkGray {
    background-color: var(--darkGray);
}
.bg-darkMedGray {
    background-color: var(--darkMedGray);
}
.bg-medGray {
    background-color: var(--medGray);
}
.bg-lightMedGray {
    background-color: var(--lightMedGray);
}
.bg-whiteColor {
    background-color: var(--whiteColor);
}
.bg-darkGreen {
    background-color: var(--darkGreen);
}
.bg-darkMedGreen {
    background-color: var(--darkMedGreen);
}
.bg-medGreen {
    background-color: var(--medGreen);
}
.bg-lightMedGreen {
    background-color: var(--lightMedGreen);
}
.bg-lightGreen {
    background-color: var(--lightGreen);
}
.bg-lightLightGreen {
    background-color: var(--redColor);
}
.bg-darkRed {
    background-color: var(--darkRed);
}
.bg-darkMedRed {
    background-color: var(--darkMedRed);
}
.bg-medRed {
    background-color: var(--medRed);
}
.bg-lightMedRed {
    background-color: var(--lightMedRed);
}
.bg-lightRed {
    background-color: var(--lightRed);
}
/**/
/*don't know*/
/**/
.t-capitalize {
    text-transform: capitalize;
}

.t-uppercase {
    text-transform: uppercase;
}

.t-c {
    text-align: center;
}

.fs-14 {
    font-size: var(--fs14);
}

.fs-16 {
    font-size: var(--fs16);
}

.fs-20 {
    font-size: 2rem;
}

.outline-0 {
    outline: none;
}

.b-0 {
    border: none;
}

.b-t-l-3 {
    border-top-left-radius: .3rem;
}

.b-t-r-3 {
    border-top-right-radius: .3rem;
}

.b-b-r-3 {
    border-bottom-right-radius: .3rem;
}

.b-b-l-3 {
    border-bottom-left-radius: .3rem;
}

.b-rd-3 {
    border-radius: .3rem;
}

.b-rd-50 {
    border-radius: 50%;
}

.pointer {
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.align-items-center {
    align-items: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-d-column {
    flex-direction: column;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/**/
/*formatting for sizes*/
/**/
@media(min-width: 768px) {
    .d-m-flex {
        display: flex;
    }

    .flex-d-m-row {
        flex-direction: row;
    }
}

@media(min-width: 992px) {
    .d-l-flex {
        display: flex;
    }

    .d-l-block {
        display: block;
    }

    .flex-d-l-row {
        flex-direction: row;
    }
}

@media(min-width: 1200px) {
    .d-xl-none {
        display: none !important;
    }

    .d-xl-flex {
        display: flex;
    }

    .align-items-xl-center {
        align-items: center;
    }

    .flex-d-xl-column {
        flex-direction: column;
    }

    .flex-d-xl-row {
        flex-direction: row;
    }

    .p-xl-relative {
        position: relative;
    }
}

